@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1f2026;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242427;
}

::-webkit-scrollbar-thumb {
  background: #48494e;
}

::-webkit-scrollbar-track:hover {
  background: #37383a;
}

.pieCartCard {
  margin-top: 0.5rem;
  gap: 0.5rem;
  padding-right: 0 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

